body{
    background-color: black;
    background-image: url(https://media0.giphy.com/media/2wWu6pQ4N6Tx0y20lN/giphy.gif?cid=ecf05e477e2y3s657vavcflj9yzfjqezjl8kdqkm0w1wto4h&rid=giphy.gif);
    background-repeat: no-repeat;
    background-size: 1555px 900px;

}

h1{
    color: white;
    font-size: 2cm;
}
h2{
    color: white;
}

.tazza01{
    height: 200px;
    width: 200px;
    background-color: black;
}
.tazza02{
    height: 200px;
    width: 200px;
    background-color: black;
}
.tazza03{
    height:200px;
    width:200px;
    background-color: black;
}





